ol {
    list-style-type: none;
    list-style: none;
    counter-reset: item;
}
li {
    counter-increment: item;
    /* margin-bottom: 5px; */
}
li:before {
    content: counters(section, ".") "";
    margin-right: 10px;
    content: counter(item);
    background: #0d6efd;
    border-radius: 100%;
    color: white;
    width: 1.5em;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.standings-text {
    font-size: 1.1em;
}

.standings-first-place {
    font-size: 1.2em;
    font-weight: bold;
}

.score {
    font-size: 1.2em;
    font-weight: bold;
}
